<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>0-&gt;1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot0.png</string>
				<string>robot1.png</string>
				<string>robot2.png</string>
				<string>robot3.png</string>
				<string>robot4.png</string>
				<string>robot5.png</string>
			</array>
		</dict>
		<key>1-&gt;2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot5.png</string>
				<string>robot6.png</string>
				<string>robot7.png</string>
				<string>robot8.png</string>
				<string>robot9.png</string>
				<string>robot10.png</string>
			</array>
		</dict>
		<key>2-&gt;3</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot10.png</string>
				<string>robot11.png</string>
				<string>robot12.png</string>
				<string>robot13.png</string>
				<string>robot14.png</string>
				<string>robot15.png</string>
			</array>
		</dict>
		<key>3-&gt;0</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot15.png</string>
				<string>robot16.png</string>
				<string>robot17.png</string>
				<string>robot18.png</string>
				<string>robot19.png</string>
				<string>robot0.png</string>
			</array>
		</dict>
		<key>1-&gt;0</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot5.png</string>
				<string>robot4.png</string>
				<string>robot3.png</string>
				<string>robot2.png</string>
				<string>robot1.png</string>
				<string>robot0.png</string>
			</array>
		</dict>
		<key>2-&gt;1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot10.png</string>
				<string>robot9.png</string>
				<string>robot8.png</string>
				<string>robot7.png</string>
				<string>robot6.png</string>
				<string>robot5.png</string>
			</array>
		</dict>
		<key>3-&gt;2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot15.png</string>
				<string>robot14.png</string>
				<string>robot13.png</string>
				<string>robot12.png</string>
				<string>robot11.png</string>
				<string>robot10.png</string>
			</array>
		</dict>
		<key>0-&gt;3</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot0.png</string>
				<string>robot19.png</string>
				<string>robot18.png</string>
				<string>robot17.png</string>
				<string>robot16.png</string>
				<string>robot15.png</string>
			</array>
		</dict>
		<key>paint0</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot0-pt0.png</string>
				<string>robot0-pt1.png</string>
				<string>robot0-pt2.png</string>
				<string>robot0-pt3.png</string>
				<string>robot0-pt2.png</string>
				<string>robot0-pt1.png</string>
				<string>robot0.png</string>
			</array>
		</dict>
		<key>paint1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot5-pt0.png</string>
				<string>robot5-pt1.png</string>
				<string>robot5-pt2.png</string>
				<string>robot5-pt3.png</string>
				<string>robot5-pt2.png</string>
				<string>robot5-pt1.png</string>
				<string>robot5.png</string>
			</array>
		</dict>
		<key>paint2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot10-pt0.png</string>
				<string>robot10-pt1.png</string>
				<string>robot10-pt2.png</string>
				<string>robot10-pt3.png</string>
				<string>robot10-pt2.png</string>
				<string>robot10-pt1.png</string>
				<string>robot10.png</string>
			</array>
		</dict>
		<key>paint3</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot15-pt0.png</string>
				<string>robot15-pt1.png</string>
				<string>robot15-pt2.png</string>
				<string>robot15-pt3.png</string>
				<string>robot15-pt2.png</string>
				<string>robot15-pt1.png</string>
				<string>robot15.png</string>
			</array>
		</dict>
		<key>destroy0</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot0-br0.png</string>
				<string>robot0-br1.png</string>
				<string>robot0-br2.png</string>
				<string>robot0-br3.png</string>
				<string>robot0-br2.png</string>
				<string>robot0-br1.png</string>
				<string>robot0.png</string>
			</array>
		</dict>
		<key>destroy1</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot5-br0.png</string>
				<string>robot5-br1.png</string>
				<string>robot5-br2.png</string>
				<string>robot5-br3.png</string>
				<string>robot5-br2.png</string>
				<string>robot5-br1.png</string>
				<string>robot5.png</string>
			</array>
		</dict>
		<key>destroy2</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot10-br0.png</string>
				<string>robot10-br1.png</string>
				<string>robot10-br2.png</string>
				<string>robot10-br3.png</string>
				<string>robot10-br2.png</string>
				<string>robot10-br1.png</string>
				<string>robot10.png</string>
			</array>
		</dict>
		<key>destroy3</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>robot15-br0.png</string>
				<string>robot15-br1.png</string>
				<string>robot15-br2.png</string>
				<string>robot15-br3.png</string>
				<string>robot15-br2.png</string>
				<string>robot15-br1.png</string>
				<string>robot15.png</string>
			</array>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>spritesheets</key>
		<array>
			<string>Picts/Robot/robot4.plist</string>
			<string>Picts/Robot/robot4-broken.plist</string>
			<string>Picts/Robot/robot4-paint.plist</string>
		</array>
	</dict>
</dict>
</plist>
