<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot0.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,0},{35,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{35,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>robot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,0},{37,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{37,55}}</string>
			<key>sourceSize</key>
			<string>{38,56}</string>
		</dict>
		<key>robot10.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,0},{35,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{35,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>robot11.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,0},{37,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{37,56}}</string>
			<key>sourceSize</key>
			<string>{39,56}</string>
		</dict>
		<key>robot12.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,0},{41,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{41,56}}</string>
			<key>sourceSize</key>
			<string>{43,56}</string>
		</dict>
		<key>robot13.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,0},{37,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{37,56}}</string>
			<key>sourceSize</key>
			<string>{39,56}</string>
		</dict>
		<key>robot14.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,0},{35,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{35,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>robot15.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,0},{30,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,56}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>robot16.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,0},{30,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{30,56}}</string>
			<key>sourceSize</key>
			<string>{31,56}</string>
		</dict>
		<key>robot17.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,0},{31,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,56}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>robot18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1129,0},{31,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{31,55}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>robot19.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192,0},{31,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{31,55}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>robot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{41,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{41,56}}</string>
			<key>sourceSize</key>
			<string>{43,56}</string>
		</dict>
		<key>robot3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,0},{37,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{37,55}}</string>
			<key>sourceSize</key>
			<string>{38,56}</string>
		</dict>
		<key>robot4.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,0},{35,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{35,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>robot5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1255,0},{30,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{30,55}}</string>
			<key>sourceSize</key>
			<string>{31,56}</string>
		</dict>
		<key>robot6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1317,0},{30,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{30,55}}</string>
			<key>sourceSize</key>
			<string>{31,56}</string>
		</dict>
		<key>robot7.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,0},{31,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{31,56}}</string>
			<key>sourceSize</key>
			<string>{31,56}</string>
		</dict>
		<key>robot8.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,0},{30,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,56}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>robot9.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,0},{30,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,56}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>robot4.png</string>
		<key>size</key>
		<string>{2048,128}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>robot4.png</string>
	</dict>
</dict>
</plist>
