<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>robot0-br0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot0-br1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot0-br2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot0-br3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot10-br0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot10-br1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot10-br2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot10-br3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot15-br0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{461, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot15-br1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot15-br2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot15-br3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{35, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot5-br0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot5-br1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{497, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot5-br2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>robot5-br3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 62}</string>
			<key>spriteSourceSize</key>
			<string>{34, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 0}, {34, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 64}</string>
		<key>name</key>
		<string>robot4-broken</string>
		<key>textureFileName</key>
		<string>robot4-broken.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>